* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #cbb697;
}

input[type="text"],
textarea,
select {
  padding: 2px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.page_title {
  text-align: center;
  margin: 1em 0 2rem 0;
  color: #343434;
  font-weight: normal;
  font-family: "Ultra", sans-serif;
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-shadow: 0 0.13rem white, 0 0.19px #777;
}

.page_content,
.add_form {
  display: flex;
  justify-content: space-evenly;
}

.recept_list {
  background: #f0e8e3;
  margin-right: 2rem;
  border: 0.125rem solid;
  width: 50%;
  height: 50rem;
  overflow: scroll;
  overflow-x: hidden;
}

.recept_item {
  background-image: url("./img/test_fon_1.png");
  background-size: cover;
  margin: 2rem;
  padding: 3.3rem 1.2rem 0rem 2.1rem;
  height: 35rem;
  width: 28rem;
}

._written_font {
  font-family: Bradley Hand, cursive;
  color: #033972;
}

.recept_title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
  margin-bottom: 1rem;
  border-bottom: 0.125rem solid;
}

.recept_type,
.recept_text {
  font-size: 1.5rem;
}

.recept_type {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.recept_text {
  width: 99%;
  overflow: scroll;
  overflow-x: hidden;
  height: 80%;
}

.recept_footer {
  height: 20%;
  padding: 0 1rem 0 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.recept_del_btn {
  height: 3rem;
  width: 3rem;
}

.recept_del_btn:hover {
  cursor: pointer;
  border: 2px solid;
  border-color: #033972;
  border-radius: 50%;
}

.recept_content {
  display: flex;
  height: 23rem;
  flex-direction: column;
  justify-content: space-between;
}

.content_col_two {
  width: 30%;
}

.filter_form {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter_form_btn {
  width: 6.25rem;
  height: 2rem;
  border-radius: 0.6rem;
}

.add_form {
  line-height: 2rem;
}

.add_form_title {
  font-size: 1.6rem;
  text-align: center;
}

.form_coll_one,
.form_coll_two {
  margin-right: 2rem;
}

.form_coll_one {
  line-height: 2.4rem;
}

.add_form_input {
  width: 17rem;
}

.add_form_textarea {
  height: 25rem;
  resize: none;
}

.add_recept_btn {
  margin-top: 10rem;
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 1.25rem;
  transition: 0.3s;
}

.add_recept_btn:hover {
  font-size: 0.6rem;
}
